<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations! A reservation has been made for your property. </h1>
    <p>
      You can see details of your new reservation here: 
      <a href="http://localhost:3000/yourlistings">http://localhost:3000/yourlistings</a>
    </p>
  </body>
</html>